html, body{
    width: 100%;
}

body{
    width: 940px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: inset 0 0 1px #000000;
    margin: 250px auto 0 auto;
}

.join{
    
}

.join h1{
    font-size: 22px;
    color: hsl(179, 78%, 47%);
    margin: 50px 0 30px 45px;
    font-weight: bold;
}

.join h2{
    font-size: 20px;
    color:  hsl(71, 73%, 54%);
    margin: 50px 0 10px 45px;
    font-weight: bold;
}

.join p{
    color: hsl(0, 0%, 70%);
    margin: 50px 45px 30px 45px;
}

main div{
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.sing-up{
    background: hsl(179, 58%, 48%);
    padding: 60px;
    color: #FFFFFF;
    border-radius: 0px 0px 0px 25px;
}

.sing-up h2{
    font-size: 22px;
    padding: 15px auto 15px;
}

.why-us{
    background: hsl(179, 81%, 62%);
    color: #FFFFFF;
    border-radius: 0px 0px 25px 0px;
    padding: 31px;
}

.why-us h2{
    font-size: 22px;
}